body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:716px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:716px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:350px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:350px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#9C9C9C;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:237px;
  width:72px;
  height:24px;
  font-size:14px;
  color:#9C9C9C;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:26px;
  width:68px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
